.shopbtn {
    background-color: rgb(250, 189, 66);

}

:hover.shopbtn {
    background-color: #cc962a;
    transform: scale(1.1);
    transition: all .5s;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(189, 189, 189, 0.9);

}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    background-color: white;


}

.modalbtn {
    border: 1px solid rgb(187, 144, 57);
    color: rgb(187, 144, 57);
    transform: scale(0.9);
}

.modalbtn:hover {
    border: none;
    background-color: rgb(187, 144, 57);
    color: white;
    transition: all .2s;
    transform: scale(1.1);
}

.orderform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.orderform input {
    background-color: rgba(255, 187, 51, 0.205);


}

.btn {
    background: rgb(255, 187, 51);
    cursor: pointer;
    color: white;

}

.btn:hover {
    background-color: rgb(187, 144, 57);
    transform: scale(1.1);
}

@media screen and (max-width : 600px) {
    .orderform {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

.customer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.descart{
    display: block;
}
.mobilecart{
    display: none;
}

@media screen and (max-width : 600px) {
    .descart{
        display: none;
    }
    .mobilecart{
        display: block;
    }
    
}

.orderinfo{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: space-between;
    width: 100vw;
    
}
.mobcart::-webkit-scrollbar-thumb{
    background: none;
    border: none;

}
.mobcart::-webkit-scrollbar-track{
    background: none;
    border: none;

}