
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1afaf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  overflow: hidden;
}

:hover.card {
  box-shadow: 0 2px 4px 2px rgb(224, 196, 139), 0 -2px 4px 2px rgb(224, 196, 139);
  transition: .3s all;

}


.card img:hover {
  transform: scale(1.4);
  transform-origin: center;
  transition: transform 1s ease;
}


.parent-container {
  position: relative;
}

.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.cart{
  color: rgb(102, 100, 100);
}
.cart:hover{
  color: rgb(223, 168, 60);
  transition: all .3s;
}
.price {
  background-image: linear-gradient(to top right, rgb(117, 65, 6), rgb(255, 187, 51));
  background-clip: text;
  color: transparent;
}
.uparrow{
  position: fixed;
  bottom: 5px;
  right: 5px;
}